<?xml version="1.0"?>
<launch>
  <arg name="paused" default="false"/>
  <arg name="gui" default="true"/>
  
<!--  Specify joint-trajectory control type -->
  <arg name="ctrl_mode" default="position"/>
  <!-- <arg name="ctrl_mode" default="velocity"/> -->
  <!-- <arg name="ctrl_mode" default="effort"/> -->
  
  <!-- startup simulated world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch"
>    <arg name="world_name" default="worlds/empty.world"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="gui" value="$(arg gui)"/>
  </include>

  <!-- send robot urdf to param server -->
  <param  name="robot_description" command="$(find xacro)/xacro.py $(find barrett_model)/robots/wam_7dof_wam_bhand.urdf.xacro ctrl_mode:=$(arg ctrl_mode)" />

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model robot -z -0.2" respawn="false" output="screen" />

  <!-- load appropriate arm trajectory controller -->
  <rosparam file="$(find barrett_wam_gazebo)/controller/arm_controller_wam_$(arg ctrl_mode).yaml" ns="wam" command="load"/>

<!-- launches joint state publisher, controller topics -->
  <include  file="$(find barrett_wam_gazebo)/launch/controller_utils.launch"/>

<!-- launch another controller_manager for joint trajectory controller -->
  <node name="arm_controller_spawner" pkg="controller_manager" type="controller_manager" ns="wam" args="spawn arm_controller" respawn="false" output="screen"/>

</launch>
