<?xml version="1.0"?>
<launch>

  <!-- Robot state publisher -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
    <param name="tf_prefix" type="string" value="" />
    <remap from="/joint_states" to="/wam/joint_states" />
  </node>

  <!-- Fake Calibration -->
  <node pkg="rostopic" type="rostopic" name="fake_joint_calibration" ns="wam"
        args="pub /calibrated std_msgs/Bool true" />
  
  <!-- joint_state_controller -->
  <rosparam file="$(find barrett_wam_gazebo)/controller/joint_state_controller.yaml" ns="wam" command="load"/>
  <node name="r" pkg="controller_manager" type="controller_manager" args="spawn joint_state_controller" ns="wam" respawn="false" output="screen"/>
  
</launch>
